.partners-section {
  padding: 150px 15px 100px;
  .partners-left {
  width: 410px;
  margin: 0 auto;
  .description {
    margin-bottom: 100px;
  }
  }
  .partners-right {
  .right-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -80px;
    .list-element {
    padding: 15px;
    img {
      width: 160px;
      opacity: 0.4;
      transition: .5s;
      &:hover {
      opacity: 1;
      transition: .5s;
      }
    }
    .partners-img-small {
      width: 120px;
    }
    }
  }
  }
  .btn-free {
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 45px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .partners-section {
  padding: 50px 15px;
  .partners-left {
    width: 100%;
    margin-bottom: 15px;
    .description {
    margin-bottom: 15px;
    }
  }
  .partners-right {
    .right-list {
    margin-top: 0;
    .list-element {
      padding: 0;
      img {
      width: 200px;
      }
      .partners-img-small {
      width: 100px;
      }
    }
    }
  }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .partners-section {
  padding: 25px 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .partners-section {
  .partners-left {
    .title, .description {
    text-align: justify;
    }
  }
  .partners-right {
    .right-list {
    .list-element {
      width: 100%;
      img {
      width: 100px;
      }
      .partners-img-small {
      width: 70px;
      }
    }
    }
  }
  }
}