.shopping-section {
  padding: 25px 15px 100px; }
  .shopping-section .top {
  padding: 0 100px;
  z-index: 2; }
  .shopping-section .top .description {
    width: 670px; }
  .shopping-section .bottom {
  position: relative;
  z-index: 1; }
  .shopping-section .bottom img {
    width: 100%;
    margin-top: -45px;
    z-index: -1;
    position: relative; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .shopping-section {
  padding: 25px 15px 50px; }
  .shopping-section .top .description {
    width: 100%; }
  .shopping-section .bottom img {
    margin-top: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .shopping-section .description {
  width: 100%; }
  .shopping-section .top {
  padding: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .shopping-section .top .description {
  text-align: justify; } }
