.cheaper-price-section {
  padding: 100px 50px;
  .cheaper-left {
  width: 350px;
  margin: 0 auto;
  .description {
    margin-bottom: 25px;
    font-size: 18px;
  }
  }
  .cheaper-right {
  img {
    width: 90%;
  }
  }
  .btn-free {
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 45px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .cheaper-price-section {
  padding: 50px 15px;
  .cheaper-left {
    margin-bottom: 50px;
  }
  .cheaper-right {
    img {
    width: 60%;
    }
  }
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .cheaper-price-section {
  padding: 25px 15px;
  .cheaper-left {
    margin-bottom: 15px;
  }
  .cheaper-right {
    img {
    width: 100%;
    }
  }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .cheaper-price-section {
  .cheaper-left {
    width: 100%;
    .title, .description {
    text-align: justify;
    }
  }
  }
}