$nav-bg: #fff;

.navbar {
  border: none;
  background: $nav-bg;
  // border-bottom: solid 1px $gray-lighter;
  // border-radius: 0;
  // background-color: $body-bg;
  // margin: 0;
  ul.navbar-nav {
    li {
      border-bottom: solid 3px $nav-bg;
      > a {
        font-weight: 300;
      }
    }
    li.active {
      border-bottom: solid 3px $brand-primary;
    }
    .dropdown-menu li.active {
      border: none;
    }
  }
}
