.Select {

  .Select-control {
    border-width: 1px;
    border-color: $gray-light;
  }

  &.is-open .Select-control {
    border-color: $brand-info;
    z-index: 99;
  }

  &.is-focused:not(.is-open) > .Select-control {
    border-color: $brand-info;
    @include box-shadow(none);
  }

  .Select-value-label {
    color: $gray;
  }

  .profile-option {
    .avatar {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    line-height: 50px;
  }
}

.has-success .Select .Select-control {
  border-color: $gray-light;
}
.has-error .Select .Select-control {
  border-color: $brand-danger;
}
.has-warning .Select .Select-control {
  border-color: $brand-warning;
}
