@import './components/colours.scss';
@import './components/mixins.scss';

@import './components/landing.scss';
@import './components/loader.scss';
@import './components/select.scss';

html, body, #react-view, #app-view {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;

  a:focus, a:active,
  button:focus, button:active {
    outline: none;
    text-decoration: none;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  .app {
    flex: 1;
  }
}

.text-primary { color: $brand-primary; }
.text-info { color: $brand-info; }
.text-warning { color: $brand-warning; }
.text-danger { color: $brand-danger; }
.text-success { color: $brand-success; }

.bg-primary { background: $brand-primary; }
.bg-info { background: $brand-info; }
.bg-warning { background: $brand-warning; }
.bg-danger { background: $brand-danger; }
.bg-success { background: $brand-success; }
.bg-tint { background: $bg-tint; }
