.redirect-section {
  position: relative;
  padding: 100px 15px; }
  .redirect-section img {
  width: 100%;
  margin-top: 30px; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .redirect-first, .redirect-second {
  padding: 0; }
  .redirect-section {
  padding: 20px 15px; }
  .redirect-section .features-right {
    margin-top: 0; }
  .redirect-section .container {
    display: inline-flex;
    flex-direction: column-reverse; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .redirect-second {
  display: none; } }
