@import "../../styles/vars";
.header-section {
  padding: 35px 30px 10px;
  border-bottom: 1px solid $grey;
  .desktop-menu {
  display: inline-block;
  }
  .mobile-menu {
  display: none;
  }
  .navbar-default {
  background: $white;
  border: none;
  ul {
    padding: 0;
    margin: 0;
    li {
    display: inline-block;
    padding: 0 30px;
    font-size: 16px;
    a {
      font-family: Helvetica;
    }
    }
  }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .header-section {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: inline-block;
    float: right;
    .dropdown-menu {
    left: -90px;
    top: 50px;
    box-shadow: none;
    border-top: none;
    border-radius: 0;
    a {
      &:hover, &:focus {
      outline: none;
      background: transparent;
      }
    }
    }
    .btn-group {
    margin-left: 15px;
    .dropdown-toggle {
      box-shadow: none;
    }
    .btn-default {
      border: none;
      border-radius: 0;
      background: $white;
      &:hover, &:focus {
      background: $white;
      box-shadow: none;
      }
    }
    }
  }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .logo-container {
  text-align: center;
  }
  .logo {
  text-align: center;
  }
  .header-section {
  .mobile-menu {
    text-align: center;
    margin: 10px 0;
    .dropdown-menu {
    left: -44px;
    top: 53px;
    }
    .btn-free {
    float: left;
    padding: 7px 10px;
    font-size: 12px;
    }
    .btn-group {
    float: right;
    margin: 0;
    }
  }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
