.bookings-section {
  padding: 25px 15px 100px;
  .top {
  padding: 0 100px;
  z-index: 2;
  }
  .bottom {
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    right: 115px;
    bottom: -300px;
    content: ' ';
    width: 140px;
    height: 400px;
    z-index: 10;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/public/images/1to2.png');
  }
  img {
    width: 100%;
    margin-top: -45px;
    z-index: -1;
    position: relative;
  }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .bookings-section {
  padding: 25px 15px 50px;
  .bottom {
   img {
     margin-top: 0;
   }
    &::before {
    width: 115px;
    right: 93px;
    bottom: -315px;
    }
  }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .bookings-section {
  .description {
    width: 100%;
  }
  .top {
    padding: 0;
  }
  .bottom {
    &::before {
    width: 70px;
    right: 86px;
    bottom: -340px;
    }
  }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .bookings-section {
  .bottom {
    &::before {
    display: none;
    }
  }
  }
}