.setup-section {
  padding: 200px 0 100px; }
  .setup-section img {
  width: 100%;
  padding: 50px;
  margin-top: 20px;
  margin-left: -80px; }
  .setup-section .btn-free {
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 15px;
  font-weight: bold;
  margin-top: 30px; }

@media only screen and (max-width: 1200px) {
  .setup-section img {
  margin-left: -20px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .setup-section {
  padding: 50px 0; }
  .setup-section img {
    padding: 0;
    margin-top: 0;
    margin-left: 0; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
